@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* reseting browser's default styles */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* main styles */

body {
  font-family: Poppins, sans-serif;
}

/* navigation bar */

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  width: 85vw;
  margin: auto;
  font-size: 1.5rem;
}

#heading {
  font-weight: 700;
}

.nav-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  font-weight: 500;
}

.nav-btn {
  padding: 20px;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: #b5d9d2;
  opacity: 0.8;
}

@media (max-width: 1100px) {
  .navigation-bar {
    flex-direction: column;
  }
  #heading {
    margin-bottom: 1.5rem;
  }
  .nav-btns {
    width: 85vw;
  }
}

@media (max-width: 550px) {
  .nav-btns {
    flex-direction: column;
  }
  .nav-btn {
    padding: 5px 10px;
  }
}

/* main information bar */

.main-card {
  display: flex;
  margin: 2rem auto;
  padding: 3rem 10%;
  justify-content: center;
  background-color: #b5d9d25e;
}

.content-container {
  margin: auto;
}

.subtext,
.text {
  font-weight: 400;
  font-size: 29px;
}

.main-heading {
  font-size: 70px;
  font-weight: 600;
}

.information-btn {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  width: 300px;
  text-align: center;
  border-radius: 40px;
  background-color: #2a7361;
  transition-property: all;
  transition-duration: 0.5s;
}

.information-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.information-btn a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}

.images-container {
  margin: auto;
  margin-top: 200px;
  display: block;
}

.images {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 900px;
}

#third-img {
  position: relative;
  bottom: 200px;
}

@media (max-width: 2000px) {
  .main-heading {
    font-size: 50px;
  }
}

@media (max-width: 1710px) {
  .images {
    width: 700px;
  }
  .images img {
    width: 200px;
  }
}

@media (max-width: 1480px) {
  .images {
    width: 500px;
  }
  .images img {
    width: 150px;
  }
}

@media (max-width: 1220px) {
  .subtext,
  .text {
    font-size: 20px;
  }
  .main-heading {
    font-size: 40px;
  }
  .information-btn {
    width: 200px;
  }
  .information-btn a {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .main-card {
    flex-direction: column;
  }
  .images {
    width: 400px;
  }
  .images img {
    width: 120px;
  }
  #third-img {
    bottom: 150px;
  }
}

@media (max-width: 470px) {
  .subtext,
  .text {
    font-size: 15px;
  }
  .main-heading {
    font-size: 30px;
  }
  .information-btn {
    width: 150px;
  }
  .information-btn a {
    font-size: 15px;
  }
  .images-container {
    margin-top: 100px;
  }
  .images {
    width: 300px;
  }
  .images img {
    width: 80px;
  }
  #third-img {
    bottom: 100px;
  }
}

@media (max-width: 350px) {
  .main-heading {
    font-size: 20px;
  }
  .images-container {
    margin-top: 100px;
  }
  .images {
    width: 260px;
  }
  .images img {
    width: 70px;
  }
  #third-img {
    bottom: 100px;
  }
}
